<section class="todoapp">
  <header class="header">
    <h1>To Dos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addToDo()">
  </header>
  <section class="main" *ngIf="toDos.length > 0">
    <div *ngFor="let todo of toDos" [class.completed]="todo.complete" class="todo-list">
      <div class="view">
        <input class="toggle" type="checkbox" (click)="toggleToDoComplete(todo)" [checked]="todo.complete">
        <label>{{todo.title}}</label>
        <button class="destroy" (click)="removeToDo(todo)">X</button>
      </div>
    </div>
  </section>
  <footer class="footer" *ngIf="toDos.length > 0">
    <span class="todo-count"><strong>{{remainingToDoCount}}</strong> {{toDos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>