<section class="todoapp">
  <header class="header">
    <h1>To Dos</h1>
    <input class="text-input" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addToDo()">
  </header>
  <div class="options">
    <button class="with-border" [class.selected]="display === 'all'" (click)="showAll()">All</button>
    <button class="with-border" [class.selected]="display === 'incomplete'" (click)="showIncompleteToDos()">Incomplete</button>
    <button [class.selected]="display === 'complete'" (click)="showCompleteToDos()">Complete</button>
    <select [(ngModel)]="order">
      <option value="date desc">Date desc</option>
      <option value="date asc">Date asc</option>
      <option value="title asc">Title asc</option>
      <option value="title desc">Title desc</option>
    </select>
  </div>
  <section class="main" *ngIf="toDos.length > 0 && display === 'all'">
    <div *ngFor="let todo of toDos" [class.completed]="todo.complete" class="todo-list">
      <div class="view">
        <input class="toggle" type="checkbox" (click)="toggleToDoComplete(todo)" [checked]="todo.complete">
        <label>{{todo.title}}</label>
        <button class="destroy" (click)="removeToDo(todo)">X</button>
        <span class="date">{{todo.dateCreated}}</span>
      </div>
    </div>
  </section>
  <section class="main" *ngIf="toDos.length > 0 && display === 'incomplete'">
    <div *ngFor="let todo of toDos" [class.completed]="todo.complete" class="todo-list">
      <div *ngIf="!todo.complete" class="view">
        <input class="toggle" type="checkbox" (click)="toggleToDoComplete(todo)" [checked]="todo.complete">
        <label>{{todo.title}}</label>
        <button class="destroy" (click)="removeToDo(todo)">X</button>
        <span class="date">{{todo.dateCreated}}</span>
      </div>
    </div>
  </section>
  <section class="main" *ngIf="toDos.length > 0 && display === 'complete'">
    <div *ngFor="let todo of toDos" [class.completed]="todo.complete" class="todo-list">
      <div *ngIf="todo.complete" class="view">
        <input class="toggle" type="checkbox" (click)="toggleToDoComplete(todo)" [checked]="todo.complete">
        <label>{{todo.title}}</label>
        <button class="destroy" (click)="removeToDo(todo)">X</button>
        <span class="date">{{todo.dateCreated}}</span>
      </div>
    </div>
  </section>
  <footer class="footer" *ngIf="toDos.length > 0">
    <span class="todo-count"><strong>{{remainingToDoCount}}</strong> {{toDos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
  <a href="/">Back</a>
</section>