.todoapp {
    font-family: 'Hind', sans-serif;
    width: 450px;
    margin: 0 auto;
}

.todo-list {
    padding: 8px 0;
    width: 100%;
}

.view input {
    margin-right: 8px;
}

.options {
    margin: 8px 0;
}

.options button {
    background: none;
    font-size: 16px;
    border-radius: 0;
}

.options .selected {
    font-weight: bold;
}

.options .with-border {
    border-right: 1px solid grey;
}

.options select {
    float: right;
    padding: 8px;
}